{% extends 'base.html.twig' %}

{% block title %} Hello {% endblock %}
{% block body %}

    {% for addr in list %}
        Name book : {{ addr.name }}
        Id book :{{ addr.id }}
        <a class="btn btn-default" href=" {{  path('addrBookIndex', {'id': addr.id})}}">   see content </a></br> </br>
    {% endfor %}
    <a class="btn btn-default" href="{{ path('addrAddBook')}}"> add a new book</a></br></br>
    Get all users = /api/users</br>
    Get one user = /api/user/{id}</br>

{% endblock %}